services:
  nginx:
    container_name: koala-qa-nginx
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/koalaqa/nginx:1.28.0
    restart: always
    environment:
      - TZ=${TIMEZONE:-Asia/Shanghai}
      - HTTP_PORT=${HTTP_PORT:-80}
      - HTTPS_PORT=${HTTPS_PORT:-443}
    ports:
      - "${HTTP_PORT:-80}:${HTTP_PORT:-80}"
      - "${HTTPS_PORT:-443}:${HTTPS_PORT:-443}"
    volumes:
      - ./data/nginx/conf:/etc/nginx
      - ./data/nginx/logs:/var/log/nginx
    networks:
      koala:
        ipv4_address: "${SUBNET_PREFIX:-169.254.15}.10"

  api:
    container_name: koala-qa-api
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/koalaqa/api:v2.24.0
    restart: always
    environment:
      - TZ=${TIMEZONE:-Asia/Shanghai}
      - GLOG_GLOBAL_LEVEL=${GLOG_GLOBAL_LEVEL}
      - API_ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - API_ADMIN_EMAIL=${ADMIN_EMAIL}
      - MQ_NATS_PASSWORD=${MQ_PASSWORD}
      - HTTPS_PROXY=${HTTPS_PROXY}
      - HTTP_PROXY=${HTTP_PROXY}
      - NO_PROXY=koala-qa-oss,koala-qa-raglite,koala-qa-anydoc,${NO_PROXY}
      - MQ_NATS_STREAMS=koala:koala.persistence.>
      - OSS_MINIO_SECRET_KEY=${OSS_SECRET_KEY}
      - DB_DSN=postgres://koala:${DB_PASSWORD}@koala-qa-db:5432/koala?sslmode=disable
    volumes:
      - ./data/api:/data
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "3"
    networks:
      koala:
        ipv4_address: "${SUBNET_PREFIX:-169.254.15}.11"
    depends_on:
      - mq
      - oss
      - db
      - raglite
      - anydoc

  app:
    container_name: koala-qa-app
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/koalaqa/app:v2.24.0
    restart: always
    environment:
      - TZ=${TIMEZONE:-Asia/Shanghai}
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "3"
    networks:
      koala:
        ipv4_address: "${SUBNET_PREFIX:-169.254.15}.12"
    depends_on:
      - api

  mq:
    container_name: koala-qa-mq
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/koalaqa/mq:2.11.8-alpine3.22
    restart: always
    environment:
      - TZ=${TIMEZONE:-Asia/Shanghai}
    command:
      [
        "nats-server",
        "-c",
        "/etc/nats/nats.conf",
        "--user",
        "koala",
        "--pass",
        "${MQ_PASSWORD}",
      ]
    volumes:
      - ./data/nats:/data
    networks:
      koala:
        ipv4_address: "${SUBNET_PREFIX:-169.254.15}.13"

  oss:
    container_name: koala-qa-oss
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/koalaqa/oss:RELEASE.2025-04-22T22-12-26Z-cpuv1
    restart: always
    command:
      [
        "minio",
        "server",
        "/data",
        "--console-address",
        "0.0.0.0:9001",
        "--address",
        "0.0.0.0:9000",
      ]
    volumes:
      - ./data/oss:/data
    environment:
      - TZ=${TIMEZONE:-Asia/Shanghai}
      - MINIO_ACCESS_KEY=koala
      - MINIO_SECRET_KEY=${OSS_SECRET_KEY}
    networks:
      koala:
        ipv4_address: "${SUBNET_PREFIX:-169.254.15}.14"

  db:
    container_name: koala-qa-db
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/koalaqa/db:17.6-bookworm
    restart: always
    environment:
      - TZ=${TIMEZONE:-Asia/Shanghai}
      - POSTGRES_USER=koala
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=koala
    volumes:
      - ./data/db:/var/lib/postgresql/data
    networks:
      koala:
        ipv4_address: "${SUBNET_PREFIX:-169.254.15}.15"

  anydoc:
    container_name: koala-qa-anydoc
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/koalaqa/anydoc:v0.9.0
    restart: always
    environment:
      - TZ=${TIMEZONE:-Asia/Shanghai}
      - MQ_NATS_URL=koala-qa-mq:4222
      - MQ_NATS_USER=koala
      - MQ_NATS_PASSWORD=${MQ_PASSWORD}
      - https_proxy=${HTTPS_PROXY}
      - http_proxy=${HTTP_PROXY}
      - no_proxy=koala-qa-oss,koala-qa-mq,${NO_PROXY}
      - GLOG_GLOBAL_LEVEL=${GLOG_GLOBAL_LEVEL}
      - TASK_CONCURRENT=${ANYDOC_TASK_CONCURRENT}
      - OSS_MINIO_ACCESS_KEY=koala
      - OSS_MINIO_SECRET_KEY=${OSS_SECRET_KEY}
      - OSS_MINIO_ENDPOINT=koala-qa-oss:9000
      - CRAWLER_AUTO_INSTALL=true
    volumes:
      - ./data/anydoc:/data
    networks:
      koala:
        ipv4_address: "${SUBNET_PREFIX:-169.254.15}.16"
    depends_on:
      - oss
      - mq
      - db

  qdrant:
    container_name: koala-qa-qdrant
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/koalaqa/qdrant:v1.14.1
    restart: always
    volumes:
      - ./data/qdrant:/qdrant/storage
    environment:
      - TZ=${TIMEZONE:-Asia/Shanghai}
      - QDRANT__SERVICE__API_KEY=${QDRANT_API_KEY}
    networks:
      koala:
        ipv4_address: "${SUBNET_PREFIX:-169.254.15}.17"

  raglite:
    container_name: koala-qa-raglite
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/koalaqa/raglite:v2.10.5
    restart: always
    environment:
      - TZ=${TIMEZONE:-Asia/Shanghai}
      - DATABASE_POSTGRESQL_HOST=koala-qa-db
      - DATABASE_POSTGRESQL_USER=koala
      - DATABASE_POSTGRESQL_PASSWORD=${DB_PASSWORD}
      - DATABASE_QDRANT_HOST=koala-qa-qdrant
      - DATABASE_QDRANT_API_KEY=${QDRANT_API_KEY}
      - STORAGE_MINIO_ENDPOINT=koala-qa-oss:9000
      - STORAGE_MINIO_ACCESS_KEY_ID=koala
      - STORAGE_MINIO_SECRET_ACCESS_KEY=${OSS_SECRET_KEY}
      - NATS_URL=nats://koala-qa-mq:4222
      - NATS_USER=koala
      - NATS_PASSWORD=${MQ_PASSWORD}
      - https_proxy=${HTTPS_PROXY}
      - http_proxy=${HTTP_PROXY}
      - no_proxy=koala-qa-oss,koala-qa-mq,koala-qa-qdrant,${NO_PROXY}
    networks:
      koala:
        ipv4_address: "${SUBNET_PREFIX:-169.254.15}.18"
    depends_on:
      - oss
      - qdrant
      - db

networks:
  koala:
    ipam:
      driver: default
      config:
        - subnet: "${SUBNET_PREFIX:-169.254.15}.0/24"
